{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "jest": true,
        "node": true
    },
    "plugins": ["@typescript-eslint", "jest", "no-loops"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended"
        // "prettier"
    ],
    "overrides": [
        {
            "files": ["*.test.ts", "Constants.ts"],
            "rules": {
                "@typescript-eslint/no-var-requires": ["off"]
            }
        }
    ],
    "rules": {
        //jest plugin rules
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        //no-loops plugin rules
        "no-loops/no-loops": "warn",
        //typescript
        "@typescript-eslint/no-empty-function": "warn",
        //eslint
        // "keyword-spacing": ["warn", { "before": true, "after": true }]
        "no-console": "warn"
    }
}
