DISCORD_BOT_TOKEN="secret_key_for_your_discord_bot"
STUDENT_ID_HASH_PRIVATE_KEY="type_any_value_here"
REDIS_URL="your_redis_url_here_for_persistence_optional"
LOG="APP:info:grey,DISCORD:info:cyan,EFFECT:info:magenta,RULES:info:yellow"
SERVER_URL="http://localhost:9001"
PORT="9001"
HOST="127.0.0.1"
