DISCORD_BOT_TOKEN="secret_key_for_your_discord_bot"
DISCORD_APPLICATION_ID="discord_application_id"
STUDENT_ID_HASH_PRIVATE_KEY="type_any_value_here_as_key_to_hash_discord_user_id_into_student_id"

SERVER_URL="http://localhost:9001"
PORT="9001"
HOST="127.0.0.1"
GIT_REVISION="local workspace"
PERSISTENCE_DATA_PATH="./data"
GSI_VERSION_STRING="v1"

;; Optional
MIXPANEL_PROJECT_TOKEN="optional_mixpael_project_token"
CHATGPT_SECRET_KEY="optional_sk_openai_chatgpt"

;; Development
LOG="APP:info:grey,DISCORD:info:cyan,EFFECT:info:magenta,RULES:info:yellow"
DEFAULT_STT_ENABLED_STATE="true"

